<settings>
    <category label="30001">
        <setting label="30017" type="bool" id="only_subscribed" default="true"/>
        <setting label="30002" type="lsep"/>
        <setting label="30012" type="bool" id="use_proxy_for_license" default="false"/>
        <setting label="30011" type="bool" id="manifest_modification" default="true"/>
        <setting label="30013" type="bool" id="proxy_video" default="false" enable="eq(-1,true)"/>
        <setting label="30014" type="bool" id="proxy_audio" default="false" enable="eq(-2,true)"/>
        <setting label="30015" type="bool" id="proxy_subtitles" default="true" enable="eq(-3,true)"/>
        <setting id="use_ttml2ssa" type="bool" label="$ADDON[script.module.ttml2ssa 32202]" default="true" enable="eq(-1,true) + eq(-4,true)"/>
        <setting label="30016" type="number" id="proxy_timeout" default="2000" enable="eq(-5,true)"/>
    </category>
    <category label="30003">
        <setting label="30010" type="labelenum" id="drm_type" values="Widevine|Playready"/>
    </category>
</settings>

